@import "tailwindcss";

body {
  background-color: var(--tw-bg-opacity, 1) var(--tw-bg-neutral-50, #f9fafb);
  color: var(--tw-text-opacity, 1) var(--tw-text-gray-800, #1f2937);
}

a {
  color: var(--tw-text-blue-600, #2563eb);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--tw-text-blue-800, #1e40af);
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}